/* INIZIO CSS */

/* CREAZIONE VARIABILI COLORI E SELEZIONE FONT */

:root{
  --violet:rgb(49, 50, 104);
  --grey:rgb(242, 246, 252);
  --white: rgb(247, 247, 247);
  --yellow: rgb(255, 200, 0);
}

*{
  font-family: 'Montserrat', sans-serif;
}

.font-custom{
  font-family: 'Racing Sans One', cursive;
  color: var(--yellow) !important;
}

.font-custom2{
  font-family: 'Racing Sans One', cursive;
}

/* FINE SCELTA VARIABILI E FONT */

/* CLASSI DARK-MODE */

.body-dark{
  background-color: black;
  color: white;
}

/* CSS HEADER E H1 */
.bg-custom{
  background:url(/public/media/pacco.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-custom-dark{
  background: url(/public/media/NEROPACCO.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.h1-custom{
  letter-spacing: 15px;
  color: var(--yellow);
  font-family: 'Mr Dafoe', cursive !important;
}

/* FINE CSS HEADER E H1 */

/* INIZIO CSS NAVBAR */

.bgNav-custom{
  background-color: var(--violet);
  transition: 0.5s;
}

.badge-custom{
  top: 50%;
  left: 100%;
}

.logoWidth-custom{
  width: 150px;
}

.logoWidth-custom2{
  width: 125px;
}

.bgNav-custom2{
  background-color: var(--violet) !important;
}

.dropdown-menu-custom{
  background-color: var(--violet);
  border: none;
  text-align: center;
  padding: 15px;
}

.dropdown-menu{
  --bs-dropdown-link-hover-bg: none;
}

.dropdown-item{
  color: var(--white )!important;
}

.dropdown-item:hover{
  color: rgb(255, 200, 0) !important;
}

.nav-link{
  color: var(--white )!important;
}

.nav-link:hover{
  color: rgb(255, 200, 0) !important;
}

.icon-custom{
  font-size: 25px;
}


/* INIZIO CSS SEARCH BOX NAVBAR */

.wave-group {
  position: relative;
}

.wave-group .input {
  font-size: 16px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 200px;
  border: none;
  border-bottom: 1px solid #515151;
  background: transparent;
  color: white;
}

.wave-group .input:focus {
  outline: none;
}

.wave-group .label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  display: flex;
}

.wave-group .label-char {
  transition: 0.2s ease all;
  transition-delay: calc(var(--index) * .05s);
}

.wave-group .input:focus ~ label .label-char,
.wave-group .input:valid ~ label .label-char {
  transform: translateY(-20px);
  font-size: 14px;
  color: var(--yellow);
}

.wave-group .bar {
  position: relative;
  display: block;
  width: 200px;
}

.wave-group .bar:before,.wave-group .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: var(--yellow);
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.wave-group .bar:before {
  left: 50%;
}

.wave-group .bar:after {
  right: 50%;
}

.wave-group .input:focus ~ .bar:before,
.wave-group .input:focus ~ .bar:after {
  width: 50%;
}

.btn-searchbar{
  border-radius: 50%;
  background-color: transparent;
  border: none;
  color: var(--yellow);
}

/* FINE CSS SEARCHBOX NAVBAR */

/* FINE CSS NAVBAR */


/* INIZIO CSS CARD ARTICOLI */

.card-custom{
  width: 325px;
  height: 480px;
  border: 1px solid lightgrey;
  padding: 6px;
  box-shadow: 3px 3px 3px lightgrey;
  transition: 0.5s;
  background-color: white;
}

.card-custom:hover{
  transform: scale(1.1);
}

.card-custom-dark{
  width: 325px;
  height: 480px;
  border: 1px solid var(--yellow);
  padding: 6px;
  transition: 0.5s;
  background-color: black;
  color: white;
}

.card-custom-dark:hover{
  transform: scale(1.1);
}

.img-custom{
  width: 300px;
  height: 300px;
}

/* FINE CSS CARD ARTICOLI */


/* INIZIO CSS FOOTER */
.mg-custom{
  margin-top: 200px;
}

/* FINE CSS FOOTER */


/* CLASSE CUSTOM PER BOTTONI */

.btn-custom{
  background-color: var(--violet);
  width: 250px;
  transition: 0.5s;
  color: white;
  font-weight: 500;
  box-shadow: 3px 3px 3px black;
}

.btn-custom:hover{
  transform: scale(1.1);
  background-color: var(--yellow);
  color: var(--violet)!important;
}

.btn-custom-dark{
  background-color: var(--yellow);
  width: 250px;
  transition: 0.5s;
  color: var(--violet);
  font-weight: 500;
  box-shadow: 3px 3px 3px black;
}

.btn-custom-dark:hover{
  transform: scale(1.1);
}


/* FINE CLASSE BOTTONI */


/* CLASSI CUSTOM PER DARE ALTEZZA E MARGINE ALLE VISTE */

.margin-custom{
  margin-top: 120px;
}

.height-custom{
  min-height: 74vh;
}

.height-custom-revisor{
  min-height: 40vh;
}

/* FINE CLASSI CUSTOM PER ALTEZZA E MARGINE */

/* INIZIO CSS FOOTER */

.footer-custom{
  background-color: #313268;
  color: white;
}

.footer-custom-dark{
  background-color: var(--black);
  color: white;
  border-top: 2px solid var(--yellow);
}

footer a{
  color: white !important;
  text-decoration: none !important; 
}

footer a:hover{
  color: rgb(255, 200, 0) !important;
}

/* FINE CSS FOOTER */

/* INIZIO CSS PAGINA DETTAGLIO ARTICOLO */

.carousel-custom img{
  border-radius: 10px !important;
}

.cardShow-custom{
  border-radius: 10px;
  color: var(--violet);
  height: 65%;
}

.cardShow-custom2{
  border-radius: 10px;
  color: var(--violet);
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  height: 70%;
  width: 100%;
  border-radius: 5px;
}

.mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* FINE CSS PAGINA DETTAGLIO ARTICOLO */


/* INIZIO CSS FORM REGISTRATI E LOGIN */

:root {
	/* COLORS */
	--white: #e9e9e9;
	--gray: #333;
	--blue: #0367a6;
	--lightblue: #008997;

	/* RADII */
	--button-radius: 0.7rem;

	/* SIZES */
	--max-width: 758px;
	--max-height: 420px;

	font-size: 16px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.wrapper-auth {
	align-items: center;
	/* background: url("/public/media/pacco.jpg"); */
  background-color: var(--violet);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: grid;
	height: 100vh;
	place-items: center;
}

.wrapper-auth-dark {
	align-items: center;
	/* background:linear-gradient(0deg, rgba(0, 0, 0, 1) 10%, rgba(255, 255, 255, 0.1) 60%, rgba(0,0,0,1) 90%),url(/public/media/pacco.jpg); */
  background-color: black;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: grid;
	height: 100vh;
	place-items: center;
}

.form__title {
	font-weight: 300;
	margin: 0;
	margin-bottom: 1.25rem;
}

.link {
	color: var(--gray);
	font-size: 0.9rem;
	margin: 1.5rem 0;
	text-decoration: none;
}

.wrapper-form{
	background-color: var(--white);
	border-radius: var(--button-radius);
	box-shadow: 0 0.9rem 1.7rem rgba(0, 0, 0, 0.25),
		0 0.7rem 0.7rem rgba(0, 0, 0, 0.22);
	height: var(--max-height);
	max-width: var(--max-width);
	overflow: hidden;
	position: relative;
	width: 100%;
}

.container__form {
	height: 100%;
	position: absolute;
	top: 0;
	transition: all 0.6s ease-in-out;
}

.container--signin {
	left: 0;
	width: 50%;
	z-index: 2;
}

.wrapper-form.right-panel-active .container--signin {
	transform: translateX(100%);
}

.container--signup {
	left: 0;
	opacity: 0;
	width: 50%;
	z-index: 1;
}

.wrapper-form.right-panel-active .container--signup {
	animation: show 0.6s;
	opacity: 1;
	transform: translateX(100%);
	z-index: 5;
}

.container__overlay {
	height: 100%;
	left: 50%;
	overflow: hidden;
	position: absolute;
	top: 0;
	transition: transform 0.6s ease-in-out;
	width: 50%;
	z-index: 100;
}

.wrapper-form.right-panel-active .container__overlay {
	transform: translateX(-100%);
}

.overlay {
	background-color: var(--lightblue);
	background: url("/public/media/pacco.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	left: -100%;
	position: relative;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
	width: 200%;
}

.wrapper-form.right-panel-active .overlay {
	transform: translateX(50%);
}

.overlay__panel {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	position: absolute;
	text-align: center;
	top: 0;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
	width: 50%;
}

.overlay--left {
	transform: translateX(-20%);
}

.wrapper-form.right-panel-active .overlay--left {
	transform: translateX(0);
}

.overlay--right {
	right: 0;
	transform: translateX(0);
}

.wrapper-form.right-panel-active .overlay--right {
	transform: translateX(20%);
}

.btn-auth {
	background-image: linear-gradient(120deg,var(--yellow) 0%, #e63946 50%);
	border-radius: 20px;
	border: none;
	color: var(--white);
	cursor: pointer;
	font-size: 0.8rem;
	font-weight: bold;
	letter-spacing: 0.1rem;
	padding: 0.9rem 4rem;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.form > .btn-auth {
	margin-top: 1.5rem;
}

.btn-auth:active {
	transform: scale(0.95);
}

.btn-auth:focus {
	outline: none;
}

.form {
	background-color: var(--white);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 3rem;
	height: 100%;
	text-align: center;
}

.input {
	background-color: #fff;
	border: none;
	padding: 0.9rem 0.9rem;
	margin: 0.5rem 0;
	width: 100%;
}

@keyframes show {
	0%,
	49.99% {
		opacity: 0;
		z-index: 1;
	}

	50%,
	100% {
		opacity: 1;
		z-index: 5;
	}
}

/* FINE CSS FORM REGISTRATI E LOGIN */


/* INIZIO CSS VISTA INSERISCI ANNUNCIO */

.bg-img{
  background: url(/public/media/Untitled-2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.row-custom{
  padding-top: 150px;
  padding: 80px;
  background-color: var(--violet);
  border-radius: 5px;
}

.img-preview{
  width: 150px;
  height: 150px;
}
/* 
.green{
  background-color: rgba(7, 102, 7, 0.821);
}
.red{
  background-color: rgba(186, 15, 15, 0.827);
}
.purple{
  background-color: purple;
}
.black{
  background-color: black;
}
.blue{
  background-color: rgba(17, 17, 172, 0.853);
} */



.margin-custom-flag{
  margin-left: 100px;
}

/* INIZIO CSS CARD CATEGORIE */

.category-card{
  width: 250px;
  height: 40px;
  border: none;
  border-radius: 15px;
  background-color: var(--violet);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

.category-card:hover{
  color: var(--yellow);
}

@media screen and (min-width:768px){
  .category-card{
    height: 80px;
  }
}

.category-card-dark{
  width: 250px;
  height: 40px;
  border: none;
  border-radius: 15px;
  background-color: var(--yellow);
  color: var(--violet);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

.category-card-dark:hover{
  color: var(--violet);
}


/* INIZIO CSS PAGINA LAVORA CON NOI */

.bg-work-img{
  background: url(/public/media/lavorarevisore.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.ghost-title{
  color: white;
  display: none;
}

@media screen and (max-width:768px){
  .ghost-title{
    color: white;
    display: block;
  }
}


.btn-custom-cat{
  width: 205px;
  background-color: var(--violet);
  transition: 0.5s;
}

.btn-custom-cat:hover{
  background-color: var(--yellow);
  color:black !important;
}

.btn-custom-cat-dark{
  width: 205px;
  background-color: var(--yellow);
  color: var(--violet) !important;
  transition: 0.5s;
}

.btn-custom-cat-dark:hover{
  color:var(--violet) !important;
}

.a-decoration{
  text-decoration: none;
  color: black;
}


/* INIZIO CSS ZONA REVISORE */

.bg-revisor-custom{
  border-left: 2px solid grey;
  border-bottom: 2px solid grey;
  border-radius: 3px;
}

.radius{
  width: 60px;
  height: 60px;
  border-radius: 50%;
}


.custom-loader {
  width: 50px;
  height: 50px;
  display: grid;
  border-radius: 50%;
  -webkit-mask: radial-gradient(farthest-side,#0000 40%,#000 41%);
  background: linear-gradient(0deg ,#766DF480 50%,#766DF4FF 0) center/4px 100%,
    linear-gradient(90deg,#766DF440 50%,#766DF4BF 0) center/100% 4px;
  background-repeat: no-repeat;
  animation: s3 1s infinite steps(12);
}

.custom-loader::before,
.custom-loader::after {
  content: "";
  grid-area: 1/1;
  border-radius: 50%;
  background: inherit;
  opacity: 0.915;
  transform: rotate(30deg);
}

.custom-loader::after {
  opacity: 0.83;
  transform: rotate(60deg);
}

@keyframes s3 {
  100% {
    transform: rotate(1turn)
  }
}